{% extends "base.html" %}
{% block title %}
    Kick Organizations
{% endblock title %}
{% block extra_head %}
    <link rel="alternate"
          type="application/rss+xml"
          title="All Kick organizations (RSS)"
          href="{% url 'kick:organization_feed' %}" />
    <link rel="alternate"
          type="application/atom+xml"
          title="All Kick organizations (Atom)"
          href="{% url 'kick:organization_feed_atom' %}" />
    <link rel="alternate"
          type="application/atom+xml"
          title="All Kick organizations (Discord)"
          href="{% url 'kick:organization_feed_discord' %}" />
{% endblock extra_head %}
{% block content %}
    <main>
        <h1>Kick Organizations</h1>
        <div>
            <a href="{% url 'kick:dashboard' %}">Kick</a> > Organizations
        </div>
        <div>
            <a href="{% url 'kick:organization_feed' %}"
               title="RSS feed for all organizations">[rss]</a>
            <a href="{% url 'kick:organization_feed_atom' %}"
               title="Atom feed for all organizations">[atom]</a>
            <a href="{% url 'kick:organization_feed_discord' %}"
               title="Discord feed for all organizations">[discord]</a>
            <a href="{% url 'core:docs_rss' %}" title="RSS feed documentation">[explain]</a>
        </div>
        {% if orgs %}
            <ul>
                {% for org in orgs %}
                    <li>
                        <a href="{% url 'kick:organization_detail' org.kick_id %}">{{ org.name }}</a>
                        {% if org.campaign_count %}- {{ org.campaign_count }} campaign{{ org.campaign_count|pluralize }}{% endif %}
                        {% if org.url %}- <a href="{{ org.url }}">{{ org.url }}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No organizations found.</p>
        {% endif %}
    </main>
{% endblock content %}
