{% extends "base.html" %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <h2>{{ user.username }}</h2>
    <p>Joined {{ user.date_joined|date:"F d, Y" }}</p>
    <table>
        <tr>
            <td>
                <strong>Date Joined:</strong>
            </td>
            <td>{{ user.date_joined|date:"F d, Y" }}</td>
        </tr>
        <tr>
            <td>
                <strong>Last Login:</strong>
            </td>
            <td>{{ user.last_login|date:"F d, Y H:i"|default:"Never" }}</td>
        </tr>
        <tr>
            <td>
                <strong>Email:</strong>
            </td>
            <td>{{ user.email|default:"Not provided" }}</td>
        </tr>
    </table>
    <a href="{% url 'accounts:logout' %}">Logout</a>
    <h2>Will get notifications for these subscriptions:</h2>
    <h3>Games</h3>
    <ul>
        {% for subscription in game_subscriptions %}
            <li>
                <a href="{% url 'twitch:game_detail' subscription.game_id %}">{{ subscription.game.display_name }}</a>
            </li>
        {% empty %}
            <li>You have no game subscriptions yet.</li>
        {% endfor %}
    </ul>
    <h3>Organizations</h3>
    <ul>
        {% for subscription in org_subscriptions %}
            <li>
                <a href="{% url 'twitch:organization_detail' subscription.organization_id %}">{{ subscription.organization.name }}</a>
            </li>
        {% empty %}
            <li>You have no organization subscriptions yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}
