{% extends "base.html" %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <h2>{{ user.username }}</h2>
    <p>Joined {{ user.date_joined|date:"F d, Y" }}</p>
    <table>
        <tr>
            <td>
                <strong>Date Joined:</strong>
            </td>
            <td>{{ user.date_joined|date:"F d, Y" }}</td>
        </tr>
        <tr>
            <td>
                <strong>Last Login:</strong>
            </td>
            <td>{{ user.last_login|date:"F d, Y H:i"|default:"Never" }}</td>
        </tr>
        <tr>
            <td>
                <strong>Email:</strong>
            </td>
            <td>{{ user.email|default:"Not provided" }}</td>
        </tr>
    </table>
    <a href="{% url 'accounts:logout' %}">Logout</a>
    <h2>Will get notifications to:</h2>
    <ul>
        {% for subscription in subscriptions %}
            <li>
                {% if subscription.game_id %}
                    <a href="{% url 'twitch:game_detail' subscription.game_id %}">{{ subscription.game.display_name }}</a>
                {% endif %}
                {% if subscription.organization_id %}
                    <a href="{% url 'twitch:organization_detail' subscription.organization_id %}">{{ subscription.organization.name }}</a>
                {% endif %}
            </li>
        {% empty %}
            <li>You have no subscriptions yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}
