{% extends "base.html" %}
{% load image_tags %}
{% block title %}
    Chat Badges
{% endblock title %}
{% block content %}
    <h1>{{ badge_sets.count }} Twitch Chat Badges</h1>
    {% if badge_sets %}
        {% for data in badge_data %}
            <h2>
                <a href="{% url 'twitch:badge_set_detail' set_id=data.set.set_id %}">{{ data.set.set_id }}</a>
            </h2>
            <table>
                {% for badge in data.badges %}
                    <tr>
                        <td style="width: 40px;">
                            <a href="{% url 'twitch:badge_set_detail' set_id=data.set.set_id %}">
                                {% picture badge.image_url_4x alt=badge.title width=36 %}
                            </a>
                        </td>
                        <td>
                            <strong>{{ badge.title }}</strong>
                            {% if badge.description != badge.title %}
                                <br />
                                {{ badge.description }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br />
            {% if data.badges|length > 1 %}<small>versions: {{ data.badges|length }}</small>{% endif %}
        {% endfor %}
    {% else %}
        <p>No badge sets found.</p>
        <p>
            run: <code>uv run python manage.py import_chat_badges</code>
        </p>
    {% endif %}
{% endblock content %}
