{% extends "base.html" %}
{% load image_tags %}
{% block title %}
  Emotes
{% endblock title %}
{% block content %}
  <h1>Emotes</h1>
  <!-- Add breadcrumbs -->
  <div>
    <a href="{% url 'twitch:dashboard' %}">Twitch</a> > Emotes
  </div>
  {% for emote in emotes %}
    <a href="{% url 'twitch:campaign_detail' emote.campaign.twitch_id %}"
       title="{{ emote.campaign.name }}"
       style="display: inline-block">
      {% picture emote.image_url alt="Emote" width=96 height=96 style="max-width: 96px; max-height: 96px" %}
    </a>
  {% empty %}
    <p>No drop campaigns with emotes found.</p>
  {% endfor %}
{% endblock content %}
