{% extends "base.html" %}
{% block title %}
  Emotes
{% endblock title %}
{% block content %}
  <h1>Emotes</h1>
  {% for emote in emotes %}
    <a href="{% url 'twitch:campaign_detail' emote.campaign.twitch_id %}"
       title="{{ emote.campaign.name }}"
       style="display: inline-block">
      <img src="{{ emote.image_url }}"
           height="96"
           width="96"
           alt="Emote"
           style="max-width: 96px;
                  max-height: 96px"
           loading="lazy" />
    </a>
  {% empty %}
    <p>No drop campaigns with emotes found.</p>
  {% endfor %}
{% endblock content %}
