{% extends "base.html" %}
{% block title %}
    {{ game.display_name }}
{% endblock title %}
{% block content %}
    <h1>{{ game.display_name }}</h1>
    {% if active_campaigns %}
        <h5>Active Campaigns</h5>
        <table>
            <tbody>
                {% for campaign in active_campaigns %}
                    <tr>
                        <td>
                            <a href="{% url 'twitch:campaign_detail' campaign.id %}">{{ campaign.clean_name }}</a>
                        </td>
                        <td>
                            <span title="{{ campaign.end_at|date:'M d, Y H:i' }}">Ends in {{ campaign.end_at|timeuntil }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if upcoming_campaigns %}
        <h5>Upcoming Campaigns</h5>
        <table>
            <tbody>
                {% for campaign in upcoming_campaigns %}
                    <tr>
                        <td>
                            <a href="{% url 'twitch:campaign_detail' campaign.id %}">{{ campaign.clean_name }}</a>
                        </td>
                        <td>
                            <span title="Starts on {{ campaign.start_at|date:'M d, Y H:i' }}">Starts in {{ campaign.start_at|timeuntil }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if expired_campaigns %}
        <h5>Past Campaigns</h5>
        <table>
            <tbody>
                {% for campaign in expired_campaigns %}
                    <tr>
                        <td>
                            <a href="{% url 'twitch:campaign_detail' campaign.id %}">{{ campaign.clean_name }}</a>
                        </td>
                        <td>
                            <span title="Ended on {{ campaign.end_at|date:'M d, Y H:i' }}">{{ campaign.end_at|timesince }} ago</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if not active_campaigns and not upcoming_campaigns and not expired_campaigns %}
        No campaigns found for this game.
    {% endif %}
{% endblock content %}
