{% extends "base.html" %}
{% block title %}
    Games
{% endblock title %}
{% block content %}
    <h1>Games</h1>
    {% if games_by_org %}
        {% for organization, games in games_by_org.items %}
            <h2>{{ organization.name }}</h2>
            <table>
                <tbody>
                    {% for item in games %}
                        <tr>
                            <td>
                                <a href="{% url 'twitch:game_detail' item.game.id %}">{{ item.game.display_name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        No games found.
    {% endif %}
{% endblock content %}
