{% extends "base.html" %}
{% block title %}
    Games
{% endblock title %}
{% block content %}
    <h1 id="page-title">Organizations</h1>
    {% if orgs %}
        <ul id="org-list">
            {% for organization in orgs %}
                <li id="org-{{ organization.id }}">
                    <a href="{% url 'twitch:organization_detail' organization.id %}">{{ organization.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No games found.</p>
    {% endif %}
{% endblock content %}
