{% extends "base.html" %}
{% block title %}
    {{ organization.name }}
{% endblock title %}
{% block content %}
    <h1 id="org-name">{{ organization.name }}</h1>
    <theader>
    <h2 id="games-header">Games by {{ organization.name }}</h2>
    </theader>
    <table id="games-table">
        <tbody>
            {% for game in games %}
                <tr id="game-row-{{ game.twitch_id }}">
                    <td>
                        <a href="{% url 'twitch:game_detail' game.twitch_id %}">{{ game }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr />
    {{ org_data|safe }}
{% endblock content %}
