{% extends "base.html" %}
{% load static %}
{% block title %}
    Reward Campaigns
{% endblock title %}
{% block extra_head %}
    <link rel="alternate"
          type="application/rss+xml"
          title="Reward campaigns (RSS)"
          href="{% url 'twitch:reward_campaign_feed' %}" />
    <link rel="alternate"
          type="application/atom+xml"
          title="Reward campaigns (Atom)"
          href="{% url 'twitch:reward_campaign_feed_atom' %}" />
{% endblock extra_head %}
{% block content %}
    <h1>Reward Campaigns</h1>
    <!-- RSS Feeds -->
    <div>
        <a href="{% url 'twitch:reward_campaign_feed' %}"
           title="RSS feed for all reward campaigns">[rss]</a>
        <a href="{% url 'twitch:reward_campaign_feed_atom' %}"
           title="Atom feed for all reward campaigns">[atom]</a>
    </div>
    <p>This is an archive of old Twitch reward campaigns because we do not monitor them.</p>
    <p>
        Feel free to submit a pull request on <a href="https://github.com/TheLovinator1/ttvdrops">GitHub</a>
        with a working implementation :-).
    </p>
    {% if reward_campaigns %}
        {% comment %}
        <h5>Active Reward Campaigns</h5>
        <table>
            <tbody>
                {% for campaign in reward_campaigns %}
                    {% if campaign.starts_at <= now and campaign.ends_at >= now %}
                        <tr>
                            <td>
                                <a href="{% url 'twitch:reward_campaign_detail' campaign.twitch_id %}">
                                    {% if campaign.brand %}
                                        {{ campaign.brand }}: {{ campaign.name }}
                                    {% else %}
                                        {{ campaign.name }}
                                    {% endif %}
                                </a>
                                {% if campaign.summary %}
                                    <br />
                                    <small>{{ campaign.summary }}</small>
                                {% endif %}
                            </td>
                            <td>
                                {% if campaign.game %}
                                    <a href="{% url 'twitch:game_detail' campaign.game.twitch_id %}">{{ campaign.game.display_name }}</a>
                                {% elif campaign.is_sitewide %}
                                    Site-wide
                                {% endif %}
                            </td>
                            <td>
                                <span title="{{ campaign.ends_at|date:'M d, Y H:i' }}">Ends in {{ campaign.ends_at|timeuntil }}</span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endcomment %}
        {% comment %}
        <h5>Upcoming Reward Campaigns</h5>
        <table>
            <tbody>
                {% for campaign in reward_campaigns %}

                    {% if campaign.starts_at > now %}
                        <tr>
                            <td>
                                <a href="{% url 'twitch:reward_campaign_detail' campaign.twitch_id %}">
                                    {% if campaign.brand %}
                                        {{ campaign.brand }}: {{ campaign.name }}
                                    {% else %}
                                        {{ campaign.name }}
                                    {% endif %}
                                </a>
                                {% if campaign.summary %}
                                    <br />
                                    <small>{{ campaign.summary }}</small>
                                {% endif %}
                            </td>
                            <td>
                                {% if campaign.game %}
                                    <a href="{% url 'twitch:game_detail' campaign.game.twitch_id %}">{{ campaign.game.display_name }}</a>
                                {% elif campaign.is_sitewide %}
                                    Site-wide
                                {% endif %}
                            </td>
                            <td>
                                <span title="Starts on {{ campaign.starts_at|date:'M d, Y H:i' }}">Starts in {{ campaign.starts_at|timeuntil }}</span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endcomment %}
        <h5>Past Reward Campaigns</h5>
        <table>
            <tbody>
                {% for campaign in reward_campaigns %}
                    {% if campaign.ends_at < now %}
                        <tr>
                            <td>
                                <a href="{% url 'twitch:reward_campaign_detail' campaign.twitch_id %}">
                                    {% if campaign.brand %}
                                        {{ campaign.brand }}: {{ campaign.name }}
                                    {% else %}
                                        {{ campaign.name }}
                                    {% endif %}
                                </a>
                                {% if campaign.summary %}
                                    <br />
                                    <small>{{ campaign.summary }}</small>
                                {% endif %}
                            </td>
                            <td>
                                {% if campaign.game %}
                                    <a href="{% url 'twitch:game_detail' campaign.game.twitch_id %}">{{ campaign.game.display_name }}</a>
                                {% elif campaign.is_sitewide %}
                                    Site-wide
                                {% endif %}
                            </td>
                            <td>
                                <span title="Ended on {{ campaign.ends_at|date:'M d, Y H:i' }}">{{ campaign.ends_at|timesince }} ago</span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reward campaigns found.</p>
    {% endif %}
{% endblock content %}
