{% extends "base.html" %}
{% block title %}
    YouTube channels with rewards
{% endblock title %}
{% block content %}
    <main>
        <h1>YouTube channels with rewards.</h1>
        <p>
            <a href="https://support.google.com/youtube/answer/9024948?hl=en&co=GENIE.Platform%3DAndroid"
               rel="noopener"
               target="_blank">YouTube Help Center</a> has the following channels listed where you can earn rewards:
        </p>
        <table>
            <thead>
                <tr>
                    <th>Channel</th>
                    <th>Partner</th>
                </tr>
            </thead>
            <tbody>
                {% for group in partner_groups %}
                    {% for item in group.channels %}
                        <tr>
                            <td>
                                <a href="{{ item.url }}" rel="noopener" target="_blank">{{ item.channel }}</a>
                            </td>
                            <td>{{ group.partner }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
