<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Twitch Drops Tracker - Track your Twitch drops and campaigns easily.">
        <meta name="keywords" content="Twitch, Drops">
        <title>
            {% block title %}
                ttvdrops
            {% endblock title %}
        </title>
        <style>
        body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
            Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        padding: 0 15px;
        max-width: 650px;
        font-size: 115%;
        line-height: 1.4;
        }

        html {
        color-scheme: light dark;
        }

        img {
            max-width: 100%;
        }
        </style>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="content">
            {% block content %}
                <!-- Main content will be injected here -->
            {% endblock content %}
        </div>
    </body>
</html>
